.label {
  position: absolute;
  width: 24px;
  height: max-content;
  left: 63px;
  top:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 48px !important;
}
.label span {
  width: 1px;
  height: 104px;
  background-color: #c8ccd8;
  margin-bottom: 48px;
}
.label h2 {
  width: 102px;
  height: 24px;

  transform: rotate(90deg);

  color: #c8ccd8;
  font-family: League Spartan;
  font-weight: 500;
  font-size: 18px;

  line-height: 24px;
  letter-spacing: 18px;
}

@media screen and (max-width:850px) {
  .label{
      left: 38px;
  }
  
}
@media screen and (max-width:700px) {
  .label{
      display: none;
  }
  
}
