.portfolio{
    
    top: 0;
    padding-inline: 165px;
    
}
.footer{
    padding-top: 160px;
}
@media screen and (max-width: 768px) {
  .portfolio {
    padding-inline: 97px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio {
    padding-inline: 50px;
  }
}
@media screen and (max-width: 373px) {
  .portfolio {
    padding-inline: 32px;
  }
  .footer{
    position: relative;
    padding-top: 100px;
}
}
