.text {
  font-weight: 700;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #1b1d23;
  max-width: 304px;
}

.container{
    display: grid;
   grid-template-columns: repeat(auto-fit, min(350px)) ;
    column-gap: 30px;
  row-gap: 60px;
  
}
.row{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 200px;
  margin-bottom: 160px;
 justify-content: space-between;
}
