.header {
  padding-block: 56px;
  display: flex;
  align-items: center;
 
  gap:94px;
}
.nav {
  width: 313px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  font-family: League Spartan;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #7d828f;
}
@media (max-width: 768px) {
  .header {
    gap: 40px;
    padding-block: 30px;
  }
}

@media (min-width: 1200px) {
  .header {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .nav {
    display: none;
  }
}